body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: white;
  margin: 0;
  padding-inline: 20px;
  width: 600px;
  color: #333;
}

body::-webkit-scrollbar{
  width: 0;
}

/* Header */
.header-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-box h3 {
  width: 100%;
  font-size: 20px;
  color: #21354e;
}

.header-box button {
  background: #fa6b48;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 14px 18px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 10px 0 10px 0;
}

.header-box button:hover {
  background: #d44926;
}

/* Content */
.result-container.show{
  padding-block: 20p;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.score {
  font-weight: bold;
  font-size: 16px;
  color: #27ae60;
  margin-bottom: 10px;
}

.seo-mistake {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seo-mistake li {
  background: #f9f9f9;
  margin: 6px 0;
  padding: 10px 12px;
  border-left: 4px solid #ff7675;
  border-radius: 6px;
  font-size: 14px;
}

.result-section {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.result-section h4 { margin: 0 0 5px 0; }
.good { color: green; }
.bad { color: red; }